<a href="https://colab.research.google.com/github/DebugSaro/MensFashion/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Pandas_practice1.csv")

In [ ]:
df

,Date,Sales Person,Region,Product,Units Sold,Unit Price,Cost of Goods,Total Revenue,Total Profit
0,19-02-2021,Andrew,West,Tent,84.0,6000.0,4000.0,504000,168000
1,07-09-2021,Grace,East,Blender,128.0,3500.0,2500.0,448000,128000
2,03-02-2021,Ella,South,Action Figure,136.0,1200.0,800.0,163200,54400
3,11-04-2020,Cameron,North,Novel,91.0,1000.0,700.0,91000,27300
4,23-09-2021,Megan,West,Sneakers,110.0,4000.0,3000.0,440000,110000
5,01-10-2020,Carolyn,East,Action Figure,NaN,1200.0,800.0,61200,20400
6,05-08-2021,Virginia,North,Novel,78.0,1000.0,700.0,78000,23400
7,06-11-2020,Connor,South,Tent,146.0,6000.0,4000.0,876000,292000
8,27-01-2021,Anna,West,Moisturizer,101.0,600.0,400.0,60600,20200
9,03-09-2021,Nicholas,South,Tent,52.0,6000.0,4000.0,312000,104000
10,30-09-2021,Nicholas,East,Action Figure,55.0,NaN,800.0,66000,22000
11,10-09-2020,Nicholas,South,Novel,137.0,1000.0,700.0,137000,41100
12,27-07-2021,Connor,South,Blender,96.0,3500.0,2500.0,336000,96000
13,09-10-2020,Anna,East,Sneakers,52.0,4000.0,3000.0,208000,52000
14,06-04-2021,Cameron,West,Blender,76.0,3500.0,2500.0,266000,76000
15,15-06-2021,Grace,North,Sneakers,145.0,4000.0,3000.0,580000,145000
16,09-09-2020,Andrew,South,Moisturizer,83.0,600.0,400.0,49800,16600
17,05-10-2020,Ella,East,Moisturizer,90.0,600.0,400.0,54000,18000
18,02-09-2020,Carolyn,South,Moisturizer,67.0,600.0,NaN,40200,13400
19,02-09-2021,Andrew,North,Sneakers,127.0,4000.0,3000.0,508000,127000
20,13-04-2021,Carolyn,West,Novel,108.0,1000.0,700.0,108000,32400
21,21-12-2021,Connor,West,Tent,71.0,6000.0,4000.0,426000,142000
22,10-08-2021,Andrew,East,Moisturizer,103.0,600.0,400.0,61800,20600
23,02-12-2021,Nicholas,North,Novel,55.0,NaN,700.0,55000,16500
24,30-08-2021,Carolyn,East,Sneakers,93.0,4000.0,3000.0,372000,93000
25,20-05-2020,Ella,South,Moisturizer,143.0,600.0,400.0,85800,28600
26,13-09-2021,Virginia,West,Blender,143.0,3500.0,2500.0,500500,143000
27,27-10-2021,Anna,North,Moisturizer,99.0,600.0,400.0,59400,19800
28,22-12-2020,Cameron,West,Novel,120.0,1000.0,700.0,120000,36000
29,28-07-2021,Grace,South,Blender,66.0,3500.0,2500.0,231000,66000
30,29-09-2020,Anna,North,Action Figure,88.0,1200.0,800.0,105600,35200
31,22-10-2020,Cameron,East,Smartphone,127.0,10000.0,7000.0,1270000,381000
32,19-05-2020,Megan,West,Sneakers,67.0,4000.0,3000.0,268000,67000
33,06-12-2021,Grace,East,Action Figure,67.0,1200.0,800.0,80400,26800
34,26-08-2020,Nicholas,South,Novel,149.0,1000.0,700.0,149000,44700
35,01-07-2021,Megan,North,Moisturizer,104.0,600.0,400.0,62400,20800
36,27-07-2021,Connor,West,Moisturizer,57.0,600.0,400.0,34200,11400
37,05-10-2020,Ella,East,Moisturizer,90.0,600.0,400.0,54000,18000
38,02-09-2020,Carolyn,South,Moisturizer,67.0,600.0,400.0,40200,13400
39,02-09-2021,Andrew,North,Sneakers,127.0,4000.0,3000.0,508000,127000
40,13-04-2021,Carolyn,West,Novel,108.0,1000.0,700.0,108000,32400
41,06-05-2021,Ella,East,Blender,66.0,NaN,2500.0,231000,66000
42,15-01-2021,Andrew,North,Tent,78.0,6000.0,4000.0,468000,156000
43,27-08-2020,Connor,South,Novel,69.0,1000.0,700.0,69000,20700
44,05-02-2021,Megan,West,Action Figure,59.0,1200.0,800.0,70800,23600
45,17-11-2021,Nicholas,South,Moisturizer,109.0,600.0,400.0,65400,21800
46,28-12-2020,Anna,East,Sneakers,61.0,4000.0,3000.0,244000,61000
47,27-10-2021,Megan,North,Moisturizer,130.0,600.0,400.0,78000,26000
48,02-11-2021,Cameron,South,Blender,60.0,3500.0,2500.0,210000,60000
49,07-05-2020,Grace,East,Tent,73.0,6000.0,4000.0,438000,146000
50,15-06-2021,Grace,North,Sneakers,145.0,4000.0,3000.0,580000,145000
51,09-09-2020,Andrew,South,Moisturizer,83.0,600.0,400.0,49800,16600
52,13-08-2021,Megan,South,Novel,91.0,1000.0,700.0,91000,27300
53,27-08-2020,Carolyn,West,Smartphone,108.0,10000.0,7000.0,1080000,324000
54,07-04-2021,Ella,North,Sneakers,144.0,4000.0,3000.0,576000,144000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           55 non-null     object
 1   Sales Person   55 non-null     object
 2   Region         55 non-null     object
 3   Product        55 non-null     object
 4   Units Sold     54 non-null     float64
 5   Unit Price     52 non-null     float64
 6   Cost of Goods  54 non-null     float64
 7   Total Revenue  55 non-null     int64
 8   Total Profit   55 non-null     int64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.0+ KB

In [ ]:
df_clean = df.drop_duplicates()

In [ ]:
df_clean.isnull().sum()

Date             0
Sales Person     0
Region           0
Product          0
Units Sold       1
Unit Price       3
Cost of Goods    1
Total Revenue    0
Total Profit     0
dtype: int64

In [ ]:
df_clean.dropna(inplace=True)

/tmp/ipython-input-1832953665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.dropna(inplace=True)

In [ ]:
df_clean['Unit Price'] = df_clean['Unit Price'].astype(int)

/tmp/ipython-input-3762578127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Unit Price'] = df_clean['Unit Price'].astype(int)

In [ ]:
df_clean['Unit Price'] = df_clean['Unit Price'].fillna(df_clean['Unit Price'].mean())

/tmp/ipython-input-530235902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Unit Price'] = df_clean['Unit Price'].fillna(df_clean['Unit Price'].mean())

In [ ]:
df_clean

,Date,Sales Person,Region,Product,Units Sold,Unit Price,Cost of Goods,Total Revenue,Total Profit
0,19-02-2021,Andrew,West,Tent,84.0,6000,4000.0,504000,168000
1,07-09-2021,Grace,East,Blender,128.0,3500,2500.0,448000,128000
2,03-02-2021,Ella,South,Action Figure,136.0,1200,800.0,163200,54400
3,11-04-2020,Cameron,North,Novel,91.0,1000,700.0,91000,27300
4,23-09-2021,Megan,West,Sneakers,110.0,4000,3000.0,440000,110000
6,05-08-2021,Virginia,North,Novel,78.0,1000,700.0,78000,23400
7,06-11-2020,Connor,South,Tent,146.0,6000,4000.0,876000,292000
8,27-01-2021,Anna,West,Moisturizer,101.0,600,400.0,60600,20200
9,03-09-2021,Nicholas,South,Tent,52.0,6000,4000.0,312000,104000
11,10-09-2020,Nicholas,South,Novel,137.0,1000,700.0,137000,41100
12,27-07-2021,Connor,South,Blender,96.0,3500,2500.0,336000,96000
13,09-10-2020,Anna,East,Sneakers,52.0,4000,3000.0,208000,52000
14,06-04-2021,Cameron,West,Blender,76.0,3500,2500.0,266000,76000
15,15-06-2021,Grace,North,Sneakers,145.0,4000,3000.0,580000,145000
16,09-09-2020,Andrew,South,Moisturizer,83.0,600,400.0,49800,16600
17,05-10-2020,Ella,East,Moisturizer,90.0,600,400.0,54000,18000
19,02-09-2021,Andrew,North,Sneakers,127.0,4000,3000.0,508000,127000
20,13-04-2021,Carolyn,West,Novel,108.0,1000,700.0,108000,32400
21,21-12-2021,Connor,West,Tent,71.0,6000,4000.0,426000,142000
22,10-08-2021,Andrew,East,Moisturizer,103.0,600,400.0,61800,20600
24,30-08-2021,Carolyn,East,Sneakers,93.0,4000,3000.0,372000,93000
25,20-05-2020,Ella,South,Moisturizer,143.0,600,400.0,85800,28600
26,13-09-2021,Virginia,West,Blender,143.0,3500,2500.0,500500,143000
27,27-10-2021,Anna,North,Moisturizer,99.0,600,400.0,59400,19800
28,22-12-2020,Cameron,West,Novel,120.0,1000,700.0,120000,36000
29,28-07-2021,Grace,South,Blender,66.0,3500,2500.0,231000,66000
30,29-09-2020,Anna,North,Action Figure,88.0,1200,800.0,105600,35200
31,22-10-2020,Cameron,East,Smartphone,127.0,10000,7000.0,1270000,381000
32,19-05-2020,Megan,West,Sneakers,67.0,4000,3000.0,268000,67000
33,06-12-2021,Grace,East,Action Figure,67.0,1200,800.0,80400,26800
34,26-08-2020,Nicholas,South,Novel,149.0,1000,700.0,149000,44700
35,01-07-2021,Megan,North,Moisturizer,104.0,600,400.0,62400,20800
36,27-07-2021,Connor,West,Moisturizer,57.0,600,400.0,34200,11400
38,02-09-2020,Carolyn,South,Moisturizer,67.0,600,400.0,40200,13400
42,15-01-2021,Andrew,North,Tent,78.0,6000,4000.0,468000,156000
43,27-08-2020,Connor,South,Novel,69.0,1000,700.0,69000,20700
44,05-02-2021,Megan,West,Action Figure,59.0,1200,800.0,70800,23600
45,17-11-2021,Nicholas,South,Moisturizer,109.0,600,400.0,65400,21800
46,28-12-2020,Anna,East,Sneakers,61.0,4000,3000.0,244000,61000
47,27-10-2021,Megan,North,Moisturizer,130.0,600,400.0,78000,26000
48,02-11-2021,Cameron,South,Blender,60.0,3500,2500.0,210000,60000
49,07-05-2020,Grace,East,Tent,73.0,6000,4000.0,438000,146000
52,13-08-2021,Megan,South,Novel,91.0,1000,700.0,91000,27300
53,27-08-2020,Carolyn,West,Smartphone,108.0,10000,7000.0,1080000,324000
54,07-04-2021,Ella,North,Sneakers,144.0,4000,3000.0,576000,144000

In [ ]:
df_clean.groupby('Product')['Total Revenue'].sum()

Product
Action Figure     420000
Blender          1991500
Moisturizer       651600
Novel             843000
Smartphone       2350000
Sneakers         3196000
Tent             3024000
Name: Total Revenue, dtype: int64

In [ ]:
df_clean.groupby('Product')['Units Sold'].sum().sort_values(ascending = False)

Product
Moisturizer      1086.0
Novel             843.0
Sneakers          799.0
Blender           569.0
Tent              504.0
Action Figure     350.0
Smartphone        235.0
Name: Units Sold, dtype: float64

In [ ]:
from google.colab import files
files.download("c/content/Pandas_practice1.csv")

FileNotFoundError: Cannot find file: c/content/Pandas_practice1.csv

In [ ]:
df_clean.to_csv("Pandas_practical1.csv", index=False)